* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el borde no afecten al ancho/alto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: inline-block;
}

:root {
    --color-one: #253659;
    --color-two: #cedddc;
    --color-three: #04BF9D;
    --color-four: #F28157;
    --color-five: #BF665E;
    --font-size: 16px;
    --font-family: Arial, sans-serif;
}

body {
    background-color: var(--color-one);
    margin: 5%;
}

p {
    font-size: 0.6rem;
    color: var(--color-one);
    padding: 5px;
}

h4 {
    background-color: var(--color-one);
    padding: 5px;
    font-size: 0.8rem;
    width: 100%;
    color: var(--color-two);
}

h5 {
    color: #04BF9D;
    padding: 5px;
    font-size: 0.8rem;
    width: 100%;
}

.flex-container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    padding: 20px;
    gap: 10px;
    background-color: var(--color-one);
    border: var(--color-four) solid 4px;
}

img {
    max-height: 30vh;
    border: #04BF9D solid 2px;
}

strong {
    color: var(--color-one);
    font-size: 0.8rem;
}

div {
    color: var(--color-one);
    border: solid 3px var(--color-four);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    max-width: 100%;
    min-width: 30%;
    background-color: var(--color-two);
    font-size: 0.8rem;
    padding: 10px;
}

.pjData {
    background-color: var(--color-four) ;
}

button {
    display: inline-block;
    color: #F28157;
    padding: 15px;
    background-color: #253659;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    margin: 5px;
}