* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el borde no afecten al ancho/alto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

:root {
    --color-one: #253659;
    --color-two: #cedddc;
    --color-three: #04BF9D;
    --color-four: #F28157;
    --color-five: #BF665E;
    --font-size: 16px;
    --font-family: Arial, sans-serif;
}


body{
    /* overflow-x: hidden; */
    background-color: var(--color-one);
}

img {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-one);
    font-family: sans-serif;
}

.flex-item {
    box-sizing: content-box;
    flex-grow: 1;
    margin: 20px;
    max-width: 300px;
    border: 2px solid var(--color-four);
    background-color: var(--color-two);
    overflow: hidden;
    object-fit: cover;
    padding: 1vh;
}

.flex-item:hover {
    border-color: var(--color-two);
    box-shadow: 0 0 13px #31a274;
    transition-duration: 0.2s;
}

.flex-item:focus {
    border-color: var(--color-three);
    box-shadow: 0 0 13px var(--color-two);
    transition-duration: 0.5s;
    display: grid;
    /* grid-template-columns: repeat(5, minmax(100px, 400px)); */
        /* Ajuste dinámico según el espacio disponible */
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto-fill;
    max-width: none;
    width: 80%;
}

#descargarPDF {
    display: none;
    color: var(--color-one);
    padding: 15px;
    background-color: var(--color-four);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    font-weight: bolder;
    margin: auto;
    width: 40%;
}

#descargarPDF:hover {
    background-color: var(--color-three);
    padding: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


h1 {
    margin: 15px;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    color: var(--color-four);
    text-align: center;
}

h2 {
    margin: 30px;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    color: var(--color-two);
    text-align: center;
}

h3 {
    color: var(--color-two);
    margin-bottom: 10px;
    font-size: 1rem;
    width: 100%;
    background-color: var(--color-one);
}

h4 {
    width: 100%;
}

h5 {
    background-color: #04BF9D;
}

h6 {
    width: 100%;
    font-size: 1.3em;
}

p b {
    color: var(--color-one);
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.pv {
    color : var(--color-one)
}

form {
    width: 100%;
    text-align: center;
    padding: 50px;
}

input[type="submit"]{
    background: var(--color-two);
    color: var(--color-one);
    border: none;
    padding: 12px 28px;
    font-size: 18px;
    letter-spacing: 1px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-four);
    /* box-shadow:  -5px -5px 10px var(--color-four); */
    width: 100%;
    gap: 10px;
    height: 50vh;
}

.banner {
    max-width: none;
    width: 100vw;
    height: 39vh;
    overflow: hidden;
    object-fit: cover;
    top: 0;
    opacity: 0.8;
}

.armas{
    font-size: 10px;
}

.oculto{
    display: none;
}

.pj:focus .oculto {
    display: inline-block;
}


.separador {
    padding: 4px;
    margin: 2px;
    border: solid 2px #253659;
}

.pj:focus .pjData {
    margin-left: 30px;
}

.footerElement {
    display: inline-block;
    max-width: 33vw;
    min-width: 25vw;
    max-height: 20vh;
    padding: 20px;
    color: #253659;
    font-size: 1em;
    text-decoration: none;
    font-weight: 600;
}

.footerElement p {
    white-space: normal; /* Permite que el texto pase a una nueva línea si es necesario */
    word-wrap: break-word; /* Evita que palabras largas sobrepasen el contenedor */
    padding: 5px;
    margin: 20px;
}

.realizadoPor {
    margin: 30px;
}

@media (max-width: 1430px) {
    /* Estilos que se aplicarán cuando el ancho de la pantalla sea igual o menor a 768px */
    .footerElement p {
    display: none;
    }

    .footerElement {
        min-width: 40vh;
        max-width: 100vh;
    }

    .realizadoPor {
        display: none;
    }
}

.butonLink {
    display: inline-block;
    color: #F28157;
    padding: 15px;
    background-color: #253659;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    margin: 5px;

}

.butonLink:hover {
    color: var(--color-two);
    padding: 17px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.logo {
    color: var(--color-one);
    font-size: 2.5em;
}

.logo:hover {
    transition: 0.5s;
    color: var(--color-two);
    font-size: 2.8em;
}

.realizadoPor {
    margin: 30px;
}