* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el borde no afecten al ancho/alto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

:root {
    --color-one: #253659;
    --color-two: #cedddc;
    --color-three: #04BF9D;
    --color-four: #F28157;
    --color-five: #BF665E;
    --font-size: 16px;
    --font-family: Arial, sans-serif;
}


body{
    /* overflow-x: hidden; */
    background-color: var(--color-one);
}

img {
    object-fit: contain;
    width: 100%;
    max-width: 400px;
    max-height: 70%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-one);
    font-family: sans-serif;
}

.flex-item {
    box-sizing: content-box;
    flex-grow: 1;
    margin: 20px;
    max-width: 300px;
    border: 2px solid var(--color-four);
    background-color: var(--color-two);
    overflow: hidden;
    object-fit: cover;
    padding: 1vh;
    display: flex;
    flex-wrap: wrap;
}

.flex-item:hover {
    border-color: var(--color-two);
    box-shadow: 0 0 13px #31a274;
    transition-duration: 2s;
}

.flex-item:focus {
    border-color: var(--color-three);
    box-shadow: 0 0 13px var(--color-two);
    transition-duration: 0.5s;
    flex-wrap: nowrap;
    max-width: 80%;
}

h1 {
    margin: 15px;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    color: var(--color-four);
    text-align: center;
}

h2 {
    margin: 30px;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    color: var(--color-two);
    text-align: center;
}

h3 {
    color: var(--color-five);
}

p b {
    color: var(--color-one);
    margin-bottom: 10px;
}

.pv {
    color : var(--color-one)
}

form {
    width: 100%;
    text-align: center;
    padding: 50px;
}

input[type="submit"]{
    background: var(--color-two);
    color: var(--color-one);
    border: none;
    padding: 12px 28px;
    font-size: 18px;
    letter-spacing: 1px;
}

footer{
    background-color: var(--color-two);
    width: 100%;
    height: 30vh;
}

.banner {
    width: 100vw;
    height: 39vh;
    overflow: hidden;
    object-fit: cover;
    top: 0;
    opacity: 0.8;
}

.armas{
    font-size: 10px;
}

.oculto{
    display: none;
}

.pj:focus .oculto {
    display: flex;
}


.separador {
    margin: 5px;
    padding: 9px;
    margin: 10px;
    border-right: solid 2px #253659;
}




