* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para que el padding y el borde no afecten al ancho/alto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: inline-block;
}

:root {
    --color-one: #253659;
    --color-two: #cedddc;
    --color-three: #04BF9D;
    --color-four: #F28157;
    --color-five: #BF665E;
    --font-size: 16px;
    --font-family: Arial, sans-serif;
}


body{
    /* overflow-x: hidden; */
    background-color: #dae9e7;
}

img {
    object-fit: contain;
    max-height: 50vh;
    min-height: 25vh;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.flex-item {
    color: var(--color-one);
    box-sizing: content-box;
    margin: 20px;
    border: 2px solid var(--color-four);
    background-color: var(--color-two);
    overflow: hidden;
    object-fit: cover;
    padding: 1vh;
    border-color: var(--color-three);
    display: flex;
    flex-wrap: nowrap;
    width: 80vw;
}

h1 {
    margin: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    color: var(--color-four);
    text-align: center;
}

h2 {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: auto;
    color: var(--color-two);
    text-align: center;
}

h3 {
    color: var(--color-two);
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--color-one);
}

h4 {
    width: 100%;
}

h5 {
    background-color: #04BF9D;
}

h6 {
    width: 100%;
}

p b {
    color: var(--color-one);
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.pv {
    color : var(--color-one)
}


.separador {
    padding: 4px;
    margin: 2px;
    border: solid 2px #253659;
}